{{! styling in style3.css }}
{{>canvas}}
{{>header}}
<div class="log-in-form">
  <form action="/user/login/dashboard" method="post" class="form">
    {{> logo}}
    <p>log in</p>
    <div class="content">
      <div>
        <input
          type="text"
          name="username"
          id="log-in-user"
          placeholder="Enter User Name...."
          required
        />
        <input
          type="password"
          name="password"
          id="log-in-token"
          placeholder="Enter User Password...."
          {{! pattern="[a-zA-Z0-9]*[A-Z]+[" }}
          required
        />
      </div>
      <p class="error-msg">{{erromsg}}</p>
      <div class="btns">
        <button type="submit">log in</button>
        <button type="button"> <a href="/">home</a></button>
      </div>
    </div>
  </form>
</div>
{{>footer}}