{{! styling in style3.css }}
<div class="success">
  <div class="content">
    <i class="fas fa-badge-check icon"></i>
    <i class="fas fa-check-circle icon"></i>
  </div>
  <p>
    <i class="far fa-thumbs-up up"></i>{{status}}
    successful....<i class="far fa-badge-check"></i></p>
  <div class="btns">
    <button><a href="/">home</a></button>
    <button><a href="/user/login/dashboard">log in</a></button>
  </div>
</div>