{{! styling in styles2.css }}
{{!-- {{>header}} --}}
<div class="user-form">
  <form
    action="/user/join"
    method="post"
    class="form"
    enctype="multipart/form-data"
  >
  <div class="head">
    <h1>great<span>minds</span></h1>
    <a href="/">home</a>
  </div>
    <span>sign up</span>
    <div class="content">
      <div class="div">
        <label for="username">name:</label>
        <input
          type="text"
          name="username"
          id="newUser"
          pattern="[a-zA-Z]+[a-zA-Z0-9_]*[\\\\\\s]?[a-zA-Z]+[a-zA-Z0-9_]*[\s]?[a-zA-Z]+[a-zA-Z0-9_]*[\s]?[a-zA-Z]+[a-zA-Z0-9_]*" placeholder="Enter user name..."
          required
        />
      </div>
      <div class="div">
        <label for="email">email-address:</label>
        <input
          type="email"
          name="email"
          id="newEmail"
          pattern="[a-zA-Z0-9_\\\\\\-\.]+[@][a-z]+[\.][a-z]{2,3}" placeholder="Enter Email..."
          required
        />
      </div>
      <div class="div">
        <label for="password">password:</label>
        <input
          type="password"
          name="password"
          id="newToken"
          pattern="[a-zA-Z0-9_]*[0-9]*[_@#$%&,\\\\\\-\*\.]+[a-zA-Z0-9_@#$%&,\*\-\.]{5,}"
          title="password must be more than six(6) characters and must contain at least one of these characters _@#$%&*,-." placeholder="Enter password..."
          required
        />
      </div>
      <div class="file-upload div">
        <input type="file" name="userImage" id="logo" required />
      </div>
      <div class="div">
        <button type="submit">sign up</button>
       <hr>
       <p>Already have an account?</p>
       <a href="/user/login">log in</a>

      </div>
    </div>
  </form>
 {{>background}}
</div>