<div class="mbird">
  <div class="logo">
     {{>logo}}
  </div>
  
  <form action="/user/join/tel" method="post">    
   <h2>
      <span> authentication:</span>
      two factor verification for your new account.</h2>
    <p>please enter your phone number below with country code.</p>
    <div class="content">
      <input
        type="tel"
        name="number"
        id="contact"
        placeholder="enter phone number..."
      />
      <button type="submit">Send code</button>
    </div>
      <button class="home"><a href="/">home</a></button>
    <p>{{error}}</p>
  </form>
</div>