<header id="header">
  <nav class="menu"><a href="/"><i class="fas fa-bars icon"></i></a></nav>
  <h1> great <span>minds</span></h1>
  <div class="navs">
    <nav class="backHome"><a href="/">home</a></nav>
    <nav class="writeBlog"><a href="/users/">read post</a></nav>
    <nav class="writeBlog"><a href="/user/login">log in</a></nav>
    <nav class="writeBlog"><a href="/user/join">join</a></nav>
  </div>
</header>