<header>
  <h1> news hour</h1>
</header>
<div class="add">
  <div class="form">
    <h2>{{form}}! write a post</h2>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter username..."
    />
    <input
      type="title"
      name="title"
      id="title"
      placeholder="Enter post title..."
    />
    <textarea
      name="post"
      id="post"
      cols="40"
      rows="10"
      placeholder="Write post....."
    ></textarea>
    <button onclick="addpost()">add post</button>
  </div>
</div>
<button class="back"><a href="/">home</a></button>