<div class="main">
  <header>
    <h1> news hour</h1>
  </header>
  <section class="section">
    <nav class="nav">news today</nav>
    <nav class="nav">history</nav>
  </section>
  <hr />

  <div class="blogs">
    {{#each posts}}
      <div class="blog">
        <h1>{{this.post}}</h1>
        <p>{{this.details}}</p>
        <h3>by <span>{{this.author}}</span></h3>
        <button><a href="/more">read more</a></button>
      </div>{{/each}}
  </div>
  <section class="write">
    <h1>wanting to write a blog?</h1>
  </section>
  <button><a href="/blog">write blog</a></button>

  <footer>&copy;copyrightnewshour</footer>
</div>