<header>
  <h1>news hour</h1>
</header>
<div class="more">
  {{form}}
  to newshour.com
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus,
    repellendus, dolores doloremque earum enim sed molestias saepe optio ab
    doloribus quidem aliquam veniam laudantium ex id fugit, maiores illum
    dolorum assumenda inventore nam labore odit laborum quos. Voluptates sit
    quae doloribus iusto reiciendis aut sint, cupiditate repellat iste vero
    dicta perferendis, debitis natus dolores provident quibusdam? Velit earum et
    excepturi error tempora perferendis necessitatibus voluptate aliquid eos
    laborum sequi neque quisquam deserunt dolorum provident adipisci voluptatum,
    recusandae id? Delectus accusantium obcaecati quisquam eius, non placeat
    nemo perspiciatis repudiandae, reprehenderit sunt nostrum in, tempore est
    voluptatem perferendis velit ut nobis qui?</p>
</div>
<button><a href="/">home</a></button>